:root {
   --bg-color: rgb(20, 20, 20);
}

body {
   background-color: var(--bg-color);
   height: 100vh;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}

#cards {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   max-width: 85%;
   width: calc(100% - 20px);
   align-items: center;
   justify-content: center;
}

.card {
   position: relative;
   height: 260px;
   width: 300px;
   background-color: rgba(255, 255, 255, 0.02);
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 8px;
   cursor: pointer;
}

.card::before {
   content: '';
   height: 100%;
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: inherit;
   z-index: 2;
   background: radial-gradient(800px circle at 100px 100px, rgba(255, 255, 255, 0.06), transparent 40%);
}